@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.containers {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 16px;
}

@keyframes rotate-scale-logo {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes logo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.logo-icon {
  animation-name: logo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  transition: all 1s;
}

.page-loading-img {
  animation: rotate-scale-logo 1.8s ease-in-out infinite;
}

.calendar-button > svg {
  transition: all 0.3s;
}

.calendar-button:hover > svg {
  transform: scale(1.2);
}

@media (max-height: 600px) {
  .text-policy {
    opacity: 0;
  }
}

.active {
  color: #3478f7;
}

.ant-picker-content > thead > tr > th {
  padding-bottom: 10px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
}

.ant-picker,
.ant-select-selector {
  background-color: #f6f6f6 !important;
}
.ant-picker-dropdown
  > .ant-picker-panel-container
  > .ant-picker-panel-layout
  > div
  > .ant-picker-panel
  > .ant-picker-date-panel
  > .ant-picker-body
  > .ant-picker-content
  > tbody
  > tr
  > .ant-picker-cell
  > .ant-picker-cell-inner {
  width: 34px !important;
  height: 34px !important;
}
.ant-upload-list-item-container,
.ant-upload-select {
  width: 48% !important;
  height: 112px !important;
}
.ant-upload-list-item > a > img {
  width: 100% !important;
}
.ant-popover > .ant-popover-arrow ~ .ant-popover-content > .ant-popover-inner {
  border-radius: 16px !important;
}
.payment-debt > path {
  stroke: black;
}

.ant-picker-content
  > tbody
  > tr
  > .ant-picker-cell-in-view
  > .ant-picker-cell-inner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 48px !important;
  height: 48px !important;
  font-weight: 600 !important;
  background-color: #f6f6f6 !important;
  border: 1px solid var(--Stroke-color, #ededed) !important;
  border-radius: 8px !important;
}


.ant-picker-content
  > tbody
  > tr
  > .ant-picker-cell-selected
  > .ant-picker-cell-inner {
  color: #78a5fa !important;
  border: 1px solid var(--Primary-Primary400, #78a5fa) !important;
  background: var(--Primary-Primary100, #dde9fe) !important;
}

.payment-debt > path {
  stroke: black;
}
.ant-segmented-group {
  height: 100% !important;
}
.ant-segmented-item {
  width: 50% !important;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-segmented-item-label {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.ant-segmented-item-selected {
  color: #3478f7 !important;
}
.ant-switch {
  min-width: 22px !important;
  width: 22px !important;
  height: 12px !important;
  padding: 0 !important;
  background-color: gray !important;
}

.ant-switch:not(.ant-switch-checked) {
  background-color: gray !important;
}

.ant-switch-inner {
  display: none !important;
}

.ant-switch .ant-switch-handle {
  width: 10px !important;
  height: 10px !important;
  top: 1px !important;
}

.ant-switch .ant-switch-handle::before {
  background-color: white !important;
}

.ant-switch.ant-switch-checked {
  background-color: #735cd8 !important;
}

.ant-switch.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 10px - 1px) !important;
}
